@use "base/variables" as v;
@use "base/mixins" as m;

.filtros {
  margin: 2rem;
  align-items: center;
}

.radio-inputs {
  align-items: center;
  margin: 0 auto;

  display: flex;
  border-radius: 0.5rem;
  background-color: v.$blanco;
  box-sizing: border-box;
  font-size: 14px;
  width: fit-content;
  padding: 1rem 1rem 0 1rem;
  .filname {
    font-size: 14px;
    padding-right: 2rem;
    margin-bottom: 0;
    color: v.$indigo;
  }
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;

  transition: all 0.15s ease-in-out;
  position: relative;
}

.radio-inputs .radio input:checked + .name {
  background-color: #e8e8e8;
  font-weight: 600;
}
.radio-inputs .radio input + .name:hover {
  color: v.$azul;
}
.radio-inputs .radio input:checked + .name:hover {
  color: #1d1d29;
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: v.$indigo;
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #e8e8e8;
}
.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #e8e8e8;
}
